<div class="row">
  <div class="col-md-1">
    <center>
    <%= parse_buttons @comment, voted_on, :comment %>
    <p class="text-muted rating"><%= @comment.rating %></p>
    <div class="btn-group">
      <%= link_to edit_comment_path(@comment), class: "btn btn-default btn-xs #{'disabled' if !user_signed_in?}" do %>
        <i class="fa fa-pencil"></i>
      <% end %>
      <%= link_to @comment, method: :delete, data: { confirm: 'Сигурен ли си, че искаш да изтриеш този коментар?' }, class: "btn btn-default btn-xs #{'disabled' if !user_signed_in?}" do %>
        <i class="fa fa-times"></i>
      <% end %>
    </div>
    </center>
  </div>
  <div class="col-md-11">
    <%= simple_format @comment.content %>
    <p class="text-right">
    <%= link_to user_path(@comment.user), class: "btn btn-default btn-sm" do %>
      <%= @comment.user.name %>
    <% end %>
    </p>
  </div>
</div>

<% if with_hr %>
  <hr />
<% end %>
