<% voted_on = Voting.where(user: current_user).pluck(:votable_id, :value) %>


<div class="page-header">
  <h1><%= @theme.name %> (<%= @theme.proposals_count %>)</h1>
</div>

<%= simple_format @theme.info %>

<% if user_signed_in? %>
  <br />
  <%= link_to "Направи предложение", new_proposal_path, class: "btn btn-success" %>
  <br />
  <br />

<% else %>

  <div id="not-registered" class="bs-callout bs-callout-danger">
    <h4>Само регистрирани потребители могат да правят предложения.</h4>
    Регистрирането ти позволява също да гласуваш и оставяш коментари. Можеш да се регистрираш <%= link_to "от тук", new_registration_path(:user) %>.
  </div>

<% end %>

<div ng-controller="ProposalController" ng-init="themeId=<%= @theme.id %>; queryProposals()">
  <div class="row">
    <div class="col-md-2">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-disabled="true" data-toggle="dropdown">
          {{ order | translateOrder }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="" ng-show="order != 'newest'" ng-click="order='newest'">Най-нови</a></li>
          <li><a href="" ng-show="order != 'oldest'" ng-click="order='oldest'">Най-стари</a></li>
          <li><a href="" ng-show="order != 'relevance'" ng-click="order='relevance'">Релевантност</a></li>
          <li><a href="" ng-show="order != 'most-comments'" ng-click="order='most-comments'">Най-коментирани</a></li>
          <li><a href="" ng-show="order != 'least-comments'" ng-click="order='least-comments'">Най-некоментирани</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-10">
      <pagination ng-model="currentPage" total-items="<%= @theme.proposals_count %>" items-per-page="<%= Proposal.default_per_page %>" max-size="5" class="pull-right" boundary-links="true"
      rotate="false" num-pages="numPages" previous-text="Предишна" next-text="Следваща" first-text="Първа" last-text="Последна"></pagination>
    </div>
  </div>
  <br />
  <div class="row" ng-repeat="proposal in proposals">
    <div class="col-md-1">

    </div>
    <div class="col-md-11">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="/proposals/{{proposal.id}}">{{ proposal.title }}</a>
          <small>
            | {{ proposal.hotness }} точки |
            {{ proposal.comments_count }} коментара |
            автор: <a href="/users/{{ proposal.user_id }}">{{ proposal.username }}</a>
          </small>
          </h3>
        </div>
        <div class="panel-body">
          {{ proposal.content }}
        </div>
      </div>
    </div>
  </div>
</div>
