<%= image_tag @user.avatar.url(:thumb) %>
<h1><%= @user.name %></h1>

<p class="text-muted"><i>Потребителят е регистриран <%= pretty_date @user.created_at %>.</i></p>

<h4>Кратка информация за потребителя</h4>

<%= simple_format @user.bio %>

<h4>Този потребител е:</h4>

<%= comments_rank @user %>
<%= proposals_rank @user %>

<br />
<br />

<div class="row">
  <div class="col-md-6" ng-controller="ProposalController" ng-init="queryProposals({user: <%= @user.id %>})">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Последни предложения</h3>
      </div>
      <ul class="list-group">
        <li ng-repeat="proposal in proposals" class="list-group-item">
          <a href="/proposals/{{proposal.id}}">{{ proposal.title }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6" ng-controller="CommentController" ng-init="queryComments()">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Последни коментари</h3>
      </div>
      <ul class="list-group">
        <li ng-repeat="comment in comments" class="list-group-item">
          <p>{{ comment.content }}</p>
          <p class="text-muted">{{ comment.created_at }} | в <a href="/proposals/{{ comment.proposal.id }}">{{ comment.proposal.title }}</a></p>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>
  </div>
</div>

