<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h2>Вход с електронна поща</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "Поща", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Парола", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me, "Запомни ме" %></div>
      <% end -%>

      <div><%= f.submit "Влез", class: "btn btn-success" %></div>
    <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <br />
      <%= link_to "Забравена парола?", new_password_path(resource_name) %><br />
    <% end -%>

  </div>
</div>





