<% voted_on = Voting.where(user: current_user).pluck(:votable_id, :value) %>

<h1>Всички предложения</h1>

<% @proposals.each do |p| %>
  <div class="row">
    <div class="col-md-1">
      <%= parse_buttons p, voted_on, :proposal %>
    </div>
    <div class="col-md-11">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> <%= link_to p.title, proposal_path(p) %>
          <small>
           | <%= p.rating %> точки |
          <%= p.comments.count %> коментара |
          автор: <%= link_to p.user.name, user_path(p.user) %>
          </small>
          </h3>
        </div>
        <div class="panel-body">
          <%= truncate p.content, length: 300 %>
        </div>
      </div>
    </div>
  </div>
<% end.empty? and begin %>
  <li><i>Няма направени предложения.</i></li>
<% end %>


