<h1>Listing proposals</h1>

<table>
  <thead>
    <tr>
      <th>Theme</th>
      <th>Title</th>
      <th>Content</th>
      <th>Up</th>
      <th>Down</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.theme %></td>
        <td><%= proposal.title %></td>
        <td><%= proposal.content %></td>
        <td><%= proposal.up %></td>
        <td><%= proposal.down %></td>
        <td><%= link_to 'Show', proposal %></td>
        <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
        <td><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proposal', new_proposal_path %>
