<p id="notice"><%= notice %></p>

<h1><%= @proposal.title %> <small><%= @proposal.theme.name %></small></h1>
<%= @proposal.rating %> точки | потребител: <%= link_to @proposal.user.name, user_path(@proposal.user) %>

<%= raw @proposal.content %>

<%= link_to 'Edit', edit_proposal_path(@proposal) %>
