<% voted_on = Voting.where(user: current_user).pluck(:votable_id, :value) %>

<div class="row">
  <div class="col-md-1">
    <br />
    <br />
    <center>
    <%= parse_buttons @proposal, voted_on, :proposal %>
    <p class="text-muted"><%= @proposal.rating %></p>
    </center>
  </div>
  <div class="col-md-10">
    <h1><%= @proposal.title %> </h1>
    <%= link_to @proposal.theme.name, theme_path(@proposal.theme), class: "btn btn-success btn-sm pull-left" %>
  </div>
  <div class="col-md-1">
    <br />
    <br />
    <%= link_to edit_proposal_path(@proposal), class: "btn btn-default btn-sm pull-right" do %>
      <i class="fa fa-pencil"></i>
    <% end %>
  </div>
</div>

<br />

<%= simple_format @proposal.content %>

<p class="text-right">
<%= link_to user_path(@proposal.user), class: "btn btn-default btn-sm" do %>
  <%= @proposal.user.name %>
<% end %>
</p>

<hr />

<h3>Коментари</h3>

<% if user_signed_in? %>

  <div class="row">
    <div class="col-md-8">
      <div id="warning" class="bs-callout bs-callout-danger" style="display:none">
        <h4>Само да ти кажем някои неща...</h4>
        Опитай се да бъдеш максимално изчерпателен(на). Всякакви расистки, хомофобски, сексистки, шовинистки коментари ще бъдат изтривани, както и коментари приканващи към насилие над хора или животни.
        Коментарите трябва да са с минимална дължина от 100 символа.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <textarea id="comment-box" name="" rows="8" cols="40" class="form-control" placeholder="Напиши своя коментар тук."></textarea>
      <br />
      <p id="symbolsBox" class="text-muted">Остават ти 100 символа.</p>
    </div>
    <div class="col-md-4">
      <%= button_tag "Коментирай", class: "btn btn-success", id: "send-button", disabled: "disabled" %>
    </div>
  </div>

<% else %>

  <div id="not-registered" class="bs-callout bs-callout-danger">
    <h4>Само регистрирани потребители могат да оставят коментари.</h4>
    Регистрирането ти позволява също да гласуваш. Можеш да се регистрираш <%= link_to "от тук", new_registration_path(:user) %>.
  </div>

<% end %>

<hr />

<% @proposal.comments.order(:created_at).each do |c| %>

  <div class="row">
    <div class="col-md-1">
      <center>
      <%= parse_buttons c, voted_on, :comment %>
      <p class="text-muted rating"><%= c.rating %></p>
      </center>
    </div>
    <div class="col-md-11">
      <%= simple_format c.content %>
      <p class="text-right">
      <%= link_to user_path(c.user), class: "btn btn-default btn-sm" do %>
        <%= c.user.name %>
      <% end %>
      </p>
    </div>
  </div>

  <%= "<hr />".html_safe unless c == @proposal.comments.last %>

<% end.empty? and begin %>
  <div class="bs-callout bs-callout-info">
    <h4>Все още няма коментари!</h4>
    Бързо напиши един, за да изпревариш останалите!
  </div>
<% end %>

<div class="modal fade" id="whoops-box">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Опа!</h4>
      </div>
      <div class="modal-body">
        <p>Изглежда в момента гласуването на работи! Моля да ни извините!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">От мен да мине.</button>
      </div>
    </div>
  </div>
</div>
