<h1><%= @proposal.title %> <small><%= @proposal.theme.name %></small></h1>
<%= @proposal.rating %> точки |
потребител: <%= link_to @proposal.user.name, user_path(@proposal.user) %> |
<%= link_to 'Edit', edit_proposal_path(@proposal) %>

<br />

<%= raw @proposal.content %>

<hr />

<h3>Коментари</h3>

<div class="row">
  <div class="col-md-8">
    <div id="warning" class="bs-callout bs-callout-danger" style="display:none">
    <h4>Само да ти кажем някои неща...</h4>
    Опитай се да бъдеш максимално изчерпателен(на). Всякакви расистки, хомофобски, сексистки, шовинистки коментари ще бъдат изтривани, както и коментари приканващи към насилие над хора или животни.
    Коментарите трябва да са с минимална дължина от 100 символа.
  </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <textarea id="comment-box" name="" rows="8" cols="40" class="form-control" placeholder="Напиши своя коментар тук."></textarea>
  </div>
  <div class="col-md-4">
    <%= button_tag "Коментирай", class: "btn btn-success", id: "send-button", disabled: "disabled" %>
    <span id="symbolsBox">Остават ти 100 символа.</span>
  </div>
</div>

<hr />

<% @proposal.comments.each do |c| %>

  <div class="row">
    <div class="col-md-1">
      <center>
      <div class="btn-group-vertical">
        <%= button_tag class: "btn btn-default btn-sm vote-button", disabled: !user_signed_in?, id: "#{c.id}-up", "data-placement" => "right", "data-toggle" => "tooltip", title: "Добра аргументация" do %>
          <i class="fa fa-arrow-up"></i>
        <% end %>
        <%= button_tag class: "btn btn-default btn-sm vote-button", disabled: !user_signed_in?, id: "#{c.id}-down", "data-placement" => "right", "data-toggle" => "tooltip", title: "Лоша аргументация" do %>
          <i class="fa fa-arrow-down"></i>
        <% end %>
      </div>

      <p class="text-muted"><%= c.rating %></p>

      </center>
    </div>
    <div class="col-md-11">
      <%= simple_format c.content %>
      <p class="text-right">
      <%= link_to user_path(c.user), class: "btn btn-default btn-sm" do %>
        <%= c.user.name %>
      <% end %>
      </p>
    </div>
  </div>

  <%= "<hr />".html_safe unless c == @proposal.comments.last %>

<% end %>

<div class="modal fade" id="whoops-box">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Опа!</h4>
      </div>
      <div class="modal-body">
        <p>Изглежда в момента гласуването на работи! Моля да ни извините!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">От мен да мине.</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
