<% voted_on = Voting.where(user: current_user).pluck(:votable_id, :value) %>

<div class="row">
  <div class="col-md-1">
    <br />
    <br />
    <center>
    <%= parse_buttons @proposal, voted_on, :proposal %>
    <p class="text-muted"><%= @proposal.rating %></p>
    </center>
  </div>
  <div class="col-md-11">
    <h1><%= @proposal.title %> </h1>
    <%= link_to @proposal.theme.name, theme_path(@proposal.theme), class: "btn btn-success btn-sm pull-left" %>
    <div class="btn-group pull-right">
      <%= link_to edit_proposal_path(@proposal), class: "btn btn-default btn-sm #{'disabled' if !user_signed_in?}" do %>
        <i class="fa fa-pencil"></i>
      <% end %>
      <%= link_to @proposal, method: :delete, data: { confirm: 'Сигурен ли си, че искаш да изтриеш това предложение?' }, class: "btn btn-default btn-sm btn-danger #{'disabled' if !user_signed_in?}" do %>
        <i class="fa fa-times"></i>
      <% end %>
    </div>

    <div class="dropdown pull-right">
      <button class="btn btn-default btn-sm dropdown-toggle proposal-report" type="button" id="dropdownMenu1" data-disabled="true" data-toggle="dropdown">
        Докладвай
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="flag(comment, 'spam')">СПАМ</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="flag(comment, 'hatespeech')">Език на омразата</a></li>
      </ul>
    </div>
  </div>
</div>

<br />

<%= simple_format @proposal.content %>

<div class="row">
  <div class="col-md-8">
    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>
  </div>
  <div class="col-md-4">
    <%= link_to user_path(@proposal.user), class: "btn btn-default btn-sm pull-right" do %>
      <%= @proposal.user.name %>
    <% end %>
  </div>
</div>

<hr />

<div ng-controller="CommentController">

<h3>Коментари</h3>

<% if user_signed_in? %>

  <div id="warning-box" class="bs-callout bs-callout-danger" style="display:none">
    <h4>Само да ти кажем някои неща...</h4>
    Опитай се да бъдеш максимално изчерпателен(на). Всякакви расистки, хомофобски, сексистки, шовинистки коментари ще бъдат изтривани, както и коментари приканващи към насилие над хора или животни.
    Коментарите трябва да са с минимална дължина от 100 символа.
  </div>

  <textarea id="comment-box" name="" rows="8" cols="40" class="form-control" ng-model="newComment.content" ng-focus="showWarning()" placeholder="Напиши своя коментар тук."></textarea>
  <br />
  <div class="row">
    <div class="col-md-1">
      <button class="btn btn-success" ng-disabled="newComment.content.length < 100" ng-click="createNewComment()">Коментирай</button>
    </div>
    <div class="col-md-4">
      <p id="symbolsBox" class="text-muted text-right" ng-hide="newComment.content.length >= 100">Остават ти {{ 100 - newComment.content.length }} символа.</p>
    </div>
  </div>

<% else %>

  <div id="not-registered" class="bs-callout bs-callout-danger">
    <h4>Само регистрирани потребители могат да оставят коментари.</h4>
    Регистрирането ти позволява също да гласуваш. Можеш да се регистрираш <%= link_to "от тук", new_registration_path(:user) %>.
  </div>

<% end %>

<br />
<div class="row">
  <div class="col-md-2">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-disabled="true" data-toggle="dropdown">
        {{ order | translateOrder }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="" ng-show="order != 'newest'" ng-click="order='newest'">Най-нови</a></li>
        <li><a href="" ng-show="order != 'oldest'" ng-click="order='oldest'">Най-стари</a></li>
        <li><a href="" ng-show="order != 'relevance'" ng-click="order='relevance'">Релевантност</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-10">
    <pagination ng-model="currentPage" total-items="<%= @proposal.comments_count %>" items-per-page="<%= Comment.per_page %>" max-size="5"
    class="pull-right" boundary-links="true" rotate="false" num-pages="numPages" previous-text="Предишна" next-text="Следваща" first-text="Първа"
    last-text="Последна"></pagination>
  </div>
</div>
<br />

<div id="no-comments" class="bs-callout bs-callout-info" ng-show="comments.length == 0">
  <h4>Все още няма коментари!</h4>
  Бързо напиши един, за да изпревариш останалите!
</div>

<div id="comments-list">
  <div ng-repeat="comment in comments">

    <div class="row">
      <div class="col-md-1">
        <center>
          <div class="btn-group-vertical">
            <button class="btn btn-sm" ng-click="vote(comment, 0)" ng-class="{true: 'btn-success', false: 'btn-default'}[comment.voted == 0]">
              <i class="fa fa-arrow-up"></i>
            </button>
            <button class="btn btn-sm" ng-click="vote(comment, 1)" ng-class="{true: 'btn-danger', false: 'btn-default'}[comment.voted == 1]">
              <i class="fa fa-arrow-down"></i>
            </button>
          </div>

          <p class="text-muted rating">{{ comment.rating }}</p>

        </center>
      </div>
      <div class="col-md-11">
        <p>{{ comment.content }}</p>
        <alert ng-repeat="alert in comment.alerts" type="{{alert.type}}" close="closeAlert(comment, $index)">{{alert.msg}}</alert>
        <div class="row">
          <div class="col-md-10">
            <div class="dropdown">
              <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-disabled="true" data-toggle="dropdown">
                Докладвай
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="flag(comment, 'spam')">СПАМ</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="flag(comment, 'hatespeech')">Език на омразата</a></li>
              </ul>
            </div>
            <button class="btn btn-default btn-xs" ng-click="destroyComment(comment, $index)">Изтрий</button>
          </div>
          <div class="col-md-2">
            <a href="{{ comment.user_profile_url }}" class="btn btn-default btn-xs pull-right">{{ comment.username }}<br>
              <i class="fa fa-gavel" ng-show="comment.moderator"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <hr ng-hide="$last"/>

  </div>
</div>

</div><!-- end of ng-controller -->

<div class="modal fade" id="whoops-box">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Опа!</h4>
      </div>
      <div class="modal-body">
        <p>Изглежда в момента гласуването на работи! Моля да ни извините!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">От мен да мине.</button>
      </div>
    </div>
  </div>
</div>
