//= depend_on_asset proposals.html
//= depend_on_asset proposal.html
//= depend_on_asset voting_buttons.html

// This file contains services and directives used throughout the project.
// Also the routes are defined here.

var glasatni = angular.module('glasatni', ['ngResource', 'ngRoute', 'ui.bootstrap']);

// on page reload - fetch user from server
glasatni.run(["AuthService", function(AuthService) {

  AuthService.getUserFromServer();

}]);

glasatni.config(['$routeProvider', "$locationProvider", function($routeProvider, $locationProvider) {

  // We use the angular core's routes (not the ui.routes module) and
  // they don't support states. This is the reason we define options for
  // different proposals-related routes here and reuse them 3 time later on.
  var proposalsOptions = {
    controller: "ProposalIndexController",
    templateUrl: "<%= asset_path('proposals.html') %>",
    resolve: {
      data: ProposalIndexController.loadProposals
    }
  };

  $locationProvider.html5Mode(true);

  $routeProvider

  // home
  .when("/", {
    controller: "ThemeIndexController",
    templateUrl: "<%= asset_path('home.html') %>",

    // This redirection is needed to switch from rails to angular.
    // In rails' routes we catch all angular routes and pass them
    // with the 'goto' parameter. Then, the string is handled by this
    // function. It simply gets the string (if present) and redirects
    // to the new address.
    redirectTo: function(current, path, search) {
      //return search.goto ? "/" + search.goto : "/";
      return "/" + search.goto ? search.goto : "";
    }
  })

  // proposals
  .when("/proposals", proposalsOptions)
  .when("/proposals/theme/:theme/:order", proposalsOptions)
  .when("/proposals/theme/:theme/:order/:page", proposalsOptions)
  .when("/proposals/new", {
    controller: "ProposalCreateController",
    templateUrl: "<%= asset_path('proposal_form.html') %>" })
  .when("/proposals/:id", {
    controller: "ProposalShowController",
    templateUrl: "<%= asset_path('proposal.html') %>" })
  .when("/proposals/:id/edit", {
    controller: "ProposalEditController",
    templateUrl: "<%= asset_path('proposal_form.html') %>" })

  // users
  .when("/users/:id", {
    controller: "UserShowController",
    templateUrl: "<%= asset_path('user.html') %>" })

  // themes
  .when("/themes/:id", {
    controller: "ThemeShowController",
    templateUrl: "<%= asset_path('theme.html') %>" })

  // notifications
  .when("/notifications", {
    controller: "NotificationIndexController",
    templateUrl: "<%= asset_path('notifications.html') %>" })

  // ranks
  .when("/ranks/:rank", {
    controller: "UserIndexController",
    templateUrl: "<%= asset_path('rank.html') %>" })

  // login
  .when("/login", {
    controller: "LoginController",
    templateUrl: "<%= asset_path('login.html') %>" })

  // register
  .when("/register", {
    controller: "LoginController",
    templateUrl: "<%= asset_path('register.html') %>" })

  // about
  .when("/about", {
    templateUrl: "<%= asset_path('about.html') %>" })

  // about
  .when("/legal", {
    templateUrl: "<%= asset_path('legal.html') %>" })

  // 404
  // TODO show 404 error page
  .otherwise({
    redirectTo: "/proposals" });

}]);

glasatni.filter('translateOrder', [function () {
  "use strict";
  return function (string) {
    var translations = {
      "newest": "Най-нови",
      "oldest": "Най-стари",
      "relevance": "Най-подкрепени",
      "most-comments": "Коментирани",
      "least-comments": "Некоментирани"
    };
    return translations[string];
  };
}]);

glasatni.filter('translateRank', [function () {
  "use strict";
  return function (string) {
    var translations = {
      "observer": "Наблюдател",
      "speaker": "Говорител",
      "orator": "Оратор",
      "enthusiast": "Ентусиаст",
      "activist": "Активист",
      "policy_maker": "Полиси мейкър"
    };
    return translations[string];
  };
}]);

// Counts the words in the passed string with a simple regex.
// Used when editing/creating proposals.
glasatni.filter('countWords', [function() {
  "use strict";
  return function(string) {
    if (typeof string === "undefined" || string === "") {
      return 0;
    }
    return string.split(/\s+/).length;
  };
}]);

// voting buttons
glasatni.directive('votingButtons', ['Proposal', 'Comment', 'Modal', 'AuthService', function(Proposal, Comment, Modal, AuthService) {
  return {
    restrict: 'E',
    scope: {
      votable: "=",
      votableType: "@",
      buttonSize: "=?"
    },
    controller: ['$scope', function($scope) {
      $scope.buttonSize = $scope.buttonSize || 'btn-sm';
    }],
    link: function (scope) {

      scope.vote = function(value) {
        var direction = value === 0 ? "up": "down";
        var params = { id: scope.votable.id, vote: direction, votable: scope.votableType };
        var success = function(response) {
          scope.votable.hotness = response.hotness;
          scope.votable.voted = scope.votable.voted === value ? -1 : value;
        };
        var failure = function(response) {
          if (response.statusText == "Unauthorized") {
            Modal.open("unregisteredVote");
          } else {
            Modal.open("unknownError");
          }
        };

        if (AuthService.getUser()) {
          if (scope.votableType === "proposal") {
            Proposal.vote(params).$promise.then(success, failure);
          } else {
            Comment.vote(params).$promise.then(success, failure);
          }
        } else {
          Modal.open("unregisteredVote");
        }

      }

    },
    templateUrl: "<%= asset_path('voting_buttons.html') %>"
  };
}]);

// This service is a wrapper of the ui.bootstrap's $modal service.
// The 'open' method returns a promise which is fulfilled when the
// user clicks 'ok' (blue) and rejected when he/she clicks 'cancel' (white)
glasatni.service('Modal', ['$modal', function($modal) {

  var texts = {
    unknownError: {
      title: "Опа!",
      body: "Изглежда тази операция не работи за сега. Моля да ни извините!",
      okButton: "От мен да мине.",
      cancelButton: "Скрий"
    },
    unregisteredVote: {
      title: "Чакай малко!",
      body: "Само регистрирани потребители могат да гласуват.",
      okButton: "Ясно, разбрах.",
      cancelButton: "Скрий"
    },
    unregisteredCreateProposal: {
      title: "Чакай малко!",
      body: "Само регистрирани потребители могат да правят предложения.",
      okButton: "Ясно, разбрах.",
      cancelButton: "Скрий"
    },
    unauthorizedUpdateProposal: {
      title: "Чакай малко!",
      body: "Нямате права да променяте това предложениe.",
      okButton: "Упс.",
      cancelButton: "Скрий"
    },
    destroyComment: {
      title: "Бърз въпрос.",
      body: "Този коментар нещо не ти харесва. Ще го изтриеш ли?",
      okButton: "Вярно е, не ми харесва.",
      cancelButton: "Нека живее."
    },
    destroyProposal: {
      title: "Бърз въпрос.",
      body: "Абе, сигурен(на) ли си, че искаш да изтриеш това предложение?",
      okButton: "Ами да.",
      cancelButton: "Не, размислих."
    },
    proposalNotFound: {
      title: "Странно",
      body: "Не можем да намерим това предложение. Сигурен/на ли си, че си на правилния адрес? За твоята безопасност, ще те пренасочим към всички предложения.",
      okButton: "Добре",
      cancelButton: "Имам ли избор..."
    }
  };

  this.open = function(msgKey) {
    return $modal.open({
      templateUrl: "<%= asset_path('modal.html') %>",
      controller: ["$scope", function($scope) {
        $scope.text = texts[msgKey];
      }]
    }).result;
  }

}]);

// this very simple directive has only one function -
// listen for changes in the given string and update it
// converting with the 'showdown' library.
glasatni.directive('markdown', [function() {
  var converter = new Showdown.converter();

  return {
    restrict: 'E',
    scope: {
      content: "="
    },
    link: function(scope, element) {
      if (typeof scope.content !== "undefined") {
        element.html(converter.makeHtml(scope.content));
      }

      scope.$watch('content', function(newValue, oldValue) {
        if (newValue === oldValue) return;
        element.html(converter.makeHtml(scope.content));
      });
    }
  }
}]);

// The 'more' button is a directive that collects more of comments/proposals/users
glasatni.directive("moreButton", ["Comment", "Proposal", "User", "Modal", function(Comment, Proposal, User, Modal) {
  return {
    restrict: "E",
    scope: {
      collection: "=",
      collectionType: "@",
      order: "@",
      userId: "@",
      rank: "@",
      nextPage: "@"
    },
    template: "<button class='btn btn-default' ng-disabled='disabled' ng-click='getMore()'>{{ text }}</button>",
    link: function(scope, element) {

      scope.disabled = false;
      scope.text = "Дай ОЩЕ!";

      var success = function(response) {
        scope.collection = scope.collection.concat(response[scope.collectionType+"s"]);

        scope.disabled = false;
        scope.text = "Дай ОЩЕ!";
        scope.nextPage = parseInt(scope.nextPage) + 1;
      };

      var failure = function(data) {
        Modal.open('unknownError');
      };

      scope.getMore = function() {
        var params = {
          page: scope.nextPage
        };
        var Moreable;

        if (typeof scope.userId !== "undefined") {
          params.user_id = scope.userId;
        }
        if (typeof scope.rank !== "undefined") {
          params.rank = scope.rank;
        }

        scope.disabled = true;
        scope.text = "Пуф Паф!";

        Moreable =
          scope.collectionType === "proposal" ? Proposal :
          scope.collectionType === "comment"  ? Comment :
          /* else */                            User;

        Moreable.query(params).$promise.then(success, failure);
      }

    }
  }
}]);

// flag button is used for flagging comments and proposals
glasatni.directive("flagButton", ["Comment", "Proposal", "Modal", function(Comment, Proposal, Modal) {
  return {
    restrict: "E",
    templateUrl: "<%= asset_path('flag_button.html') %>",
    scope: {
      flaggable: "=",
      type: "@",
      size: "@"
    },
    link: function(scope) {
      scope.flag = function(flaggable, reason) {
        var Flaggable = scope.type === "proposal" ? Proposal : Comment;
        Flaggable.flag({ flaggable_id: flaggable.id, reason: reason, flaggable_type: scope.type }).$promise.then(function(data) {
          flaggable.alerts = [{
            type: "success", msg: "Вие докладвахте този коментар. Благодарим ви."
          }];
        }, function() { Modal.open("unknownError") });
      }
    }
  }
}]);

// The 'order by' dropdown.
// I have mixed feelings about this directive. I haven't figured
// out yet whether or not it adds complexity or reduces it.
glasatni.directive("filter", [function() {

  return {
    restrict: "E",
    templateUrl: "<%= asset_path('filter.html') %>",
    transclude: true,
    scope: {
      order: "="
    }
  }

}]);

// The service is just a container for alerts with 4 simple methods
glasatni.service("messageService", [function() {

  var _container = [];

  this.push = function(msgOb) {
    _container.push(msgOb);
  };

  this.removeByIndex = function(idx) {
    _container.splice(idx, 1);
  };

  this.removeByLocation = function(destination) {
    _container = _container.filter(function(msg) { return msg.destination !== destination });
  };

  this.get = function(destination) {
    return _container.filter(function(msg) { return msg.destination === destination });
  };

}]);

// The directive is just a convenient way to "stick" the appropriate messages to the right place
// One can think of it as a way to give a ui to the messageService
glasatni.directive("displayMessages", ["messageService", function(messageService) {

  return {
    restrict: "E",
    template: "<alert ng-repeat='alert in messageService.get(destination)' type='{{ alert.type }}' close='messageService.removeByIndex($index)'>" +
              "{{ alert.msg }}" +
              "</alert>",
    scope: {
      destination: "@"
    },
    link: function(scope) {
      scope.messageService = messageService;
    }
  };

}]);
