<%= image_tag "doodle.jpg", width: "100%" %>

<div class="row">
  <% {
    'Гражданско образование'        => 'education.jpg',
    'Гражданско участие'            => 'participation.jpg',
    'Доброволчество'                => 'volunteering.jpg',
    'Неправителствени организации'  => 'ngo.jpg',
  }.each do |theme_name, theme_icon| %>
    <% theme = Theme.find_by(name: theme_name) %>
    <div class="col-md-3 col-sm-6 col-xs-6">
      <h3 class="text-center"><%= theme_name %></h3>
      <%= image_tag theme_icon, width: "100%" %>
      <% if theme %>
        <p><%= theme.info.truncate(200) %></p>
        <p><a class="btn btn-default" href="/#/themes/<%= theme.id %>">Научи още! »</a></p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-6">
    <%= image_tag "meta.jpg", width: "100%" %>
  </div>
  <div class="col-md-9 col-sm-6 col-xs-6">
    <%
      theme_name = 'Мета'
      theme = Theme.find_by(name: theme_name)
    %>
    <h3><%= theme_name %></h3>
    <% if theme %>
      <p><%= theme.info.truncate(200) %></p>
      <p><a class="btn btn-default" href="/#/themes/<%= theme.id %>">Научи още! »</a></p>
    <% end %>
  </div>
</div>
