<!DOCTYPE html>
<html ng-app="glasatni">
<head>
  <title>Гласът ни - тук мнението ти е от значение.</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="display:none;" id="user-info" user-id="<%= current_user.try(:id) %>" user-is-mod="<%= current_user.try(:mod?) %>"></div>

<section id="topnav">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p class="pull-left">
          <%= link_to "Начало", "/#/", class: "btn btn-link" %>
          <%= link_to "Всички предложения", "/#/proposals", class: "btn btn-link" %>
          <%= link_to "За платформата", "/#/about", class: "btn btn-link" %>
        </p>
      <% if user_signed_in? %>
        <p class="pull-right">
          Здравей, <%= link_to current_user.name, "/#/users/#{current_user.id}", id: "username" %> (<%= current_user.reputation %>) |
          <%= link_to edit_user_registration_path, :class => "btn btn-link" do %>
            <i class="fa fa-wrench"></i> &nbsp;Настройки
          <% end %>
          <%= link_to destroy_user_session_path, :method => :delete, :class => "btn btn-link" do %>
            <i class="fa fa-sign-out"></i> &nbsp;Изход
          <% end %>
        </p>
      <% else %>

        <ul class="nav navbar-nav navbar-right">
          <!-- login dropdown -->
          <li class="dropdown">
            <a href="#" class="btn btn-link dropdown-toggle" data-target="login-menu" data-toggle="dropdown" data-disabled=true>
              <i class="fa fa-sign-in"></i>&nbsp; Влез <span class="caret"></span>
            </a>
            <ul class="dropdown-menu login-menu" role="menu">
              <li class="dropdown-header">Радвам се да те видя отново.</li>
              <li>
                <%= link_to new_session_path(:user) do %>
                  <i class="fa fa-envelope-o fa-lg"></i>&nbsp; Поща
                <% end %>
              </li>
              <li>
                <%= link_to user_omniauth_authorize_path(:facebook) do %>
                  <i class="fa fa-facebook-square fa-lg"></i>&nbsp; Facebook
                <% end %>
              </li>
            </ul>
          </li>
          <!-- register dropdown -->
          <li class="dropdown">
            <a href="#" class="btn btn-link dropdown-toggle" data-target="register-menu" data-toggle="dropdown" data-disabled=true>
              <i class="fa fa-plug"></i> &nbsp; Регистрирай се <span class="caret"></span>
            </a>
            <ul class="dropdown-menu register-menu">
              <li class="dropdown-header">Радвам се да се запознаем.<br />Можеш да се регистрираш с:</li>
              <li>
              <%= link_to new_registration_path(:user) do %>
                <i class="fa fa-envelope-o fa-lg"></i>&nbsp; Поща
              <% end %>
              </li>
              <li>
              <%= link_to user_omniauth_authorize_path(:facebook) do %>
                <i class="fa fa-facebook-square fa-lg"></i>&nbsp; Facebook
              <% end %>
              </li>
            </ul>
          </li>
        </ul>

      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
</section>

<br />
<div class="container">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <% if notice %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= notice %>
        </div>
      <% elsif alert %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= alert %>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-6">
          <%= link_to "/#/proposals" do %>
            <%= image_tag "glasatni_logo.png", width: 230 %>
          <% end %>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
          <br />
          <a href="/#/proposals/new" class="btn btn-success pull-right">
            <i class="fa fa-plus-square"></i> &nbsp;Направи предложение
          </a>
        </div>
      </div>
      <br />

      <%= yield %>

      <div class="clearfix"></div>
      <hr />

      <p class="text-center text-muted"><small>Партньори</small></p>

      <br />

      <div class="row vertical-align">
        <div class="col-md-3 col-sm-3 col-xs-6"><%= link_to "http://www.ngogrants.bg/" do image_tag "eea_grants_logo.png", class: "center-block", width: "70%" end %></div>
        <div class="col-md-3 col-sm-3 col-xs-6"><%= link_to "http://www.bcnl.org/" do image_tag "bcnl_logo.png", class: "center-block", width: "70%" end %></div>
        <div class="col-md-3 col-sm-3 col-xs-6"><%= link_to "http://proinfobg.org/" do image_tag "proinfo_logo.png", class: "center-block", width: "70%" end %></div>
        <div class="col-md-3 col-sm-3 col-xs-6"><%= link_to "http://www.obshtestvo.bg/" do image_tag "obshtestvo_logo.png", class: "center-block", width: "70%" end %></div>
      </div>
      <div class="row vertical-align">
        <div class="col-md-3 col-sm-3 col-xs-6"><%= link_to "http://offnews.bg/" do image_tag "offnews_logo.png", class: "center-block", width: "70%" end %></div>
        <div class="col-md-3 col-sm-3 col-xs-6"><%= link_to "http://foundation.capital.bg/" do image_tag "capital_foundation_logo.png", class: "center-block", width: "70%" end %></div>
        <div class="col-md-3 col-sm-3 col-xs-6"><%= link_to "http://ngobg.info/" do image_tag "ngobg_logo.png", class: "center-block", width: "70%" end %></div>
      </div>

      <br />
      <br />
    </div>
  </div>


</div>

</body>
</html>
