<!DOCTYPE html>
<html>
<head>
  <title>Гласа.ни</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>

<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <%= link_to "Гласа.ни", root_path, :class => "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <% if user_signed_in? %>
      <form class="navbar-form navbar-right">
        <%= link_to edit_user_registration_path, :class => "btn btn-info" do %>
          <i class="fa fa-cog fa-lg"></i> &nbsp;Настройки
        <% end %>
        <%= link_to destroy_user_session_path, :method => :delete, :class => "btn btn-success" do %>
          <i class="fa fa-sign-out fa-lg"></i> &nbsp;Изход
        <% end %>
      </form>

      <p class="navbar-text navbar-right">Здравей, <%= link_to current_user.name, user_path(current_user), id: "username" %> (<%= current_user.reputation %>)</p>
    <% else %>
      <div class="pull-right">
        <%= link_to new_session_path(:user), :class => "btn btn-success navbar-btn" do %>
          <i class="fa fa-sign-in fa-lg"></i> &nbsp;Вход
        <% end %>
        <%= link_to new_registration_path(:user), :class => "btn btn-info navbar-btn" do %>
          <i class="fa fa-plug fa-lg"></i> &nbsp;Регистрирай се
        <% end %>
      </div>
    <% end %>
    </div>
  </nav>

  <% if notice %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= notice %>
    </div>
  <% elsif alert %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= alert %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-9">
      <%= yield %>
    </div>
    <div class="col-md-3">
      <% if user_signed_in? %>
        <%= link_to "Направи предложение", new_proposal_path, class: "btn btn-success" %>
      <% else %>
        <div id="not-registered" class="bs-callout bs-callout-danger">
          <h4>Само регистрирани потребители могат да правят предложения.</h4>
          Регистрирането ти позволява също да гласуваш и оставяш коментари. Можеш да се регистрираш <%= link_to "от тук", new_registration_path(:user) %>.
        </div>
      <% end %>
    </div>
  </div>

<hr />

<p class="text-center text-muted"><small>Тук може да се сложат връзки и/или информация. Изработено от <%= link_to "Общество.бг", "http://obshtestvo.bg" %> </small></p>

</div>

<div class="modal fade" id="whoops-box">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{{ $root.$modalMessages.title }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ $root.$modalMessages.body }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ $root.$modalMessages.button }}</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>
