<!DOCTYPE html>
<html>
<head>
  <title>Гласа ни - дай воля на гласа си.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>

<section id="topnav">
  <div class="container">
    <% if user_signed_in? %>
      <div class="pull-right">
        Здравей, <%= link_to current_user.name, user_path(current_user), id: "username" %> (<%= current_user.reputation %>) |
        <%= link_to edit_user_registration_path, :class => "btn btn-link" do %>
          <i class="fa fa-wrench"></i> &nbsp;Настройки
        <% end %>
        <%= link_to destroy_user_session_path, :method => :delete, :class => "btn btn-link" do %>
          <i class="fa fa-sign-out"></i> &nbsp;Изход
        <% end %>
      </div>
    <% else %>

      <ul class="nav navbar-nav navbar-right">
        <!-- login dropdown -->
        <li class="dropdown">
          <a href="#" class="btn btn-link dropdown-toggle" data-target="login-menu" data-toggle="dropdown" data-disabled=true>
            <i class="fa fa-sign-in"></i>&nbsp; Влез <span class="caret"></span>
          </a>
          <ul class="dropdown-menu login-menu" role="menu">
            <li class="dropdown-header">Радвам се да те видя отново.</li>
            <li>
              <%= link_to new_session_path(:user) do %>
                <i class="fa fa-envelope-o fa-lg"></i>&nbsp; Поща
              <% end %>
            </li>
            <li>
              <%= link_to user_omniauth_authorize_path(:facebook) do %>
                <i class="fa fa-facebook-square fa-lg"></i>&nbsp; Facebook
              <% end %>
            </li>
          </ul>
        </li>
        <!-- register dropdown -->
        <li class="dropdown">
          <a href="#" class="btn btn-link dropdown-toggle" data-target="register-menu" data-toggle="dropdown" data-disabled=true>
            <i class="fa fa-plug"></i> &nbsp; Регистрирай се <span class="caret"></span>
          </a>
          <ul class="dropdown-menu register-menu">
            <li class="dropdown-header">Радвам се да се запознаем.<br />Можеш да се регистрираш с:</li>
            <li>
            <%= link_to new_registration_path(:user) do %>
              <i class="fa fa-envelope-o fa-lg"></i>&nbsp; Поща
            <% end %>
            </li>
            <li>
            <%= link_to user_omniauth_authorize_path(:facebook) do %>
              <i class="fa fa-facebook-square fa-lg"></i>&nbsp; Facebook
            <% end %>
            </li>
          </ul>
        </li>
      </ul>

    <% end %>
    <div class="clearfix"></div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <%= link_to root_path, :class => "navbar-brand" do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>
    <div class="col-md-3">
      <br />
      <% if user_signed_in? %>
        <%= link_to new_proposal_path, class: "btn btn-success pull-right" do %>
          <i class="fa fa-plus-square"></i> &nbsp;Направи предложение
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<br />
<div class="container">

  <% if notice %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= notice %>
    </div>
  <% elsif alert %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <%= alert %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-9">
      <%= yield %>
    </div>
    <div class="col-md-3">
      <div class="fb-like-box" data-href="https://www.facebook.com/pages/%D0%93%D0%BB%D0%B0%D1%81%D0%B0-%D0%BD%D0%B8/479851892157819" data-width="260" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
    </div>
  </div>

<hr />

<p class="text-center text-muted"><small>Тук може да се сложат връзки и/или информация. Изработено от <%= link_to "Общество.бг", "http://obshtestvo.bg" %> </small></p>

</div>

<div class="modal fade" id="whoops-box">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{{ $root.$modalMessages.title }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ $root.$modalMessages.body }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ $root.$modalMessages.button }}</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>
