<!DOCTYPE html>
<html>
<head>

  <%= tag :meta, property: "fb:app_id", content: ENV['facebook_app_id'] %>
  <%= tag :meta, property: "og:site_name", content: "glasatni.bg" %>
  <%= tag :meta, property: "og:type", content: "website" %>
  <%= tag :meta, property: "og:url", content: request.original_url %>

  <%= yield :head %>

</head>
<body>

  Hi, Facebook bot. This code is only for you.

</body>
</html>
